main{
    margin-top: 1.4rem;

    .date{
        display: inline-block;
        background: var(--color-light);
        border-radius: var(--border-radius-1);
        margin-top: 1rem;
        padding: 0.5rem 1.6rem;
    }
    .insights{
        h3{
            margin: 1rem 0 0 0.6rem;
            font-size: 1rem;
        }
        .progress{
            position: relative;
            width: 92px;
            height: 92px;
            border-radius: 50%;

            .number{
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        .sales{
            svg{
                circle{
                    stroke-dashoffset: -30;
                    stroke-dasharray: 200;
                }
            }
        }

        .expenses{
            circle{
                stroke-dashoffset: 20;
                stroke-dasharray: 80;
            }
        }


        .income{
            circle{
                stroke-dashoffset: 35;
                stroke-dasharray: 110;
            }
        }
        svg{

            width: 7rem;
            height: 7rem;

            circle{
                fill: none;
                stroke: var(--color-primary);
                stroke-width: 14;
                stroke-linecap: round;
                transform: translate(5px, 5px);
                stroke-dasharray: 110;
                stroke-dashoffset: 92;
            }
        }
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.6rem;
        & > div{
            background-color: var(--color-white);
            padding: var(--card-padding);
            border-radius: var(--card-border-radius);
            margin-top: 1rem;
            box-shadow: 0px 0px 3px 3px #D4D4D4;
            transition: all 300ms ease;
            &:hover{
                box-shadow: none;
            }
            span{
                background-color: var(--color-primary);
                padding: 0.5rem;
                border-radius: 50%;
                color: var(--color-white);
                font-size: 2rem;
            }
            &.expenses{
                span{
                    background-color: var(--color-danger);
                }
            }
            &.income{
                span{
                    background-color: var(--color-sucess);
                }
            }
            & .middle{
               display: flex;
               align-items: center;
               justify-content: space-between;
            }
        }
    }
}



