.profile-photo{
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

.text-muted{
    color: var(--color-info-dark);

}

p{
    color: var(--color-dark-variant);
}

b{
    color: var(--color-dark);
}

.primary{
    color: var(--color-primary);
}

.danger{
    color: var(--color-danger);
}

.sucess{
    color: var(--color-sucess);
}

.warning{
    color: var(--color-warning);
}

main .date input[type = "date"]{
    background: transparent;
    color: var(--color-dark);
}